
/*
https://es.greenpeace.org/es/trabajamos-en/cambio-climatico/
https://www.acciona.com/es/cambio-climatico/?_adin=02021864894
https://www.ametscontese.com/
https://snip.ly/xbrhv7#https://beanreelcoffee.com/
https://suvonni.com/
https://www.couroazul.com/passion-for-leather/
https://coolors.co/palette/007f5f-2b9348-55a630-80b918-aacc00-bfd200-d4d700-dddf00-eeef20-ffff3f
https://coolors.co/palette/fb6107-f3de2c-7cb518-5c8001-fbb02d
*/

@import url('https://fonts.googleapis.com/css2? family= Roboto:ital,wght@1,300 & display=swap');
html {
  scroll-behavior: smooth;
}
*{
  padding: 0px;
  margin: 0px;
  list-style: none;
  text-decoration: none;
  box-sizing: border-box;
}
body{
  background-position: center;
  background-size: cover;
  background-attachment: fixed;
                                    background-color: #066839;
}
body *{
  color: white;
}
body .elemcolor1{
                                    background-color: #063a21;
}
/*
0b0d0c
(96e072, 3e8914) mas salton
(9ebc63, 618943) mas warm
(b5c99a, 56682c) demasiado vintage
(aad576, 245501) princ mas oscuro
(9ee37d, 358600) normal
(9ee37d, 069e2d) normal (mas claro)
(066839, 063a21) mas oscuro
*/
/*----------------------------------------------------------HEADER----------------------------------------------------------------------*/
header{
  position: sticky;
  top: 0;
  z-index: 3;
  -webkit-box-shadow: 0px 0px 15px 6px rgba(0,0,0,0.31); 
  box-shadow: 0px 0px 15px 6px rgba(0,0,0,0.31);
}
header *{
  color: white;
}
/*-------------------Nav--------------------*/
header .nav1{
  display: flex;
  justify-content: center;
  padding-bottom: 0px;
  align-items: center;
  padding: 6px 0 6px 10px;
  height: 60px;
}

header .nav1 .logo{
  height: 100%;
}
header .nav1 .menu{
  margin: 0px;
  display: inline-flex;
  justify-content: space-around;
  width: 100%;
  padding-left: 0px;
}
header .nav1 .menu .menu-li{
  margin-left: 0px;
  width: 100%;
}
header .nav1 .menu .menu-li a{
  text-align: center;
  position: relative;
  display: block;
  padding: 7px;
  text-decoration: none;
  font-size: 18px;
}
.menu a::before {
  content: '';
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 2px;
  background: white;
  z-index: 1;
  transform: scaleX(0);
  transform-origin: left;
  transition: transform 0.3s ease-in-out;
}
.menu a:hover::before {
  transform: scaleX(1);
}
header .nav1 .menu .menu-li a:hover{
  color: #ffffff;
}
.menu[data-animation="center"] a::before {
  transform-origin: center;
}

/*-------------------/Nav--------------------*/

/*----------------------------------------------------------MAIN------------------------------------------------------------------------*/
main{
  display: flex;
  flex-direction: column;
}

.section1 {
  height: 600px;
  margin: 0px;
  display: flex;
  justify-content: center;
  align-items: center;
  background-image: url("../img/ej/ej11.jpg");
  background-size: cover;

}
.section1 h1{
  font-size: 80px;
  color: white;
}
.section2 {
  height: 600px;
  display: flex;
  margin: 40px;
  overflow: hidden;
}
.section2 .s2-d1{
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-around;
  width: 50%;
}

.section2 .parallax1{
  width: 50%;
  height: 130%;
  position: relative;
  top: -200px;

}
.section2 .parallax1 img{
  height: 110%;
  width: 100%;
  transition: 2s;
}


.section2 .s2-d1 p{
  text-align: justify;
  width: 80%;
}
.section3{
  padding: 0px 40px 0px 40px;
}
/*------------------Carousel------------------*/
#carouselExampleInterval{
  width: 100%;
  
}
#carouselExampleInterval img{
	height: 550px;
}
#carouselExampleInterval button{
  width: 8%;
  transition: 1s;
}
#carouselExampleInterval button:hover{
  background-color: rgba(0, 0, 0, 0.46);
}
/*-----------------/Carousel------------------*/
.section4{
  height: 600px;
  display: flex;
  justify-content: space-around;
  align-items: center;
  margin: 40px;
}
.section4 .icono{
  display: flex;
  flex-direction: column;
  align-items:center;
  justify-content: center;
  height: 600px;
  width: 21%;
}
.section4 .icono img{
  height: 250px;
/*height: auto; (no se puede porque la imagen no es cuadrada, entonces si lo pongo en auto se achata un toque)*/
  width: 90%;
  border-radius: 100%;
  margin-bottom: 20%;
}



.section5{
  height: 800px;
  display: flex;
  justify-content: end;
  padding: 0;
  overflow: hidden;
  margin: 0 40px 40px 40px;
}
.section5 *{
  margin: 0;
}


.section5 .parallax{
  overflow: hidden;
  width: 40%;
  height: 110%;
  position: relative;
  top: -800px;
}
.parallax img{
  height: 100%;
  width: 100%;
}
.section5 > div{
  width: 60%;
}
.section5 div h1{
  height: 10%;
  text-align: center;
  padding-top: 10px;
}
.section5 div .p1{
  height: 45%;
  padding: 20px 20px 20px 20px;
  text-align: start;
}
.section5 div .p2{
  height: 45%;
  padding: 20px 20px 20px 20px;
  text-align: end;
}

.section6{
  height: 6000px;
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: 1fr 1fr 1fr 1fr 1fr 1fr;
  background-color: black;
}
.section6 *{
  padding: 0;
  margin: 0;
  color: black;
}
.section6 div{

  background-attachment: fixed;
  background-repeat: no-repeat;
  display: flex;
  justify-content: center;
  text-align: center;
  flex-direction: column;
}
.section6 .cc1{
  background-image: url(../img/ej/1.jpg);
  background-position: left;
  background-size: 50%;

}
.section6 .cc2{
  background-image: url(../img/ej/2.jpg);
  background-position: right;
  background-size: 50%;
}
.section6 .cc3{
  background-image: url(../img/ej/ej15.jpg);
  grid-row-start: 2;
  grid-row-end: 4;
  background-position: left;
  background-size: 50%;
}
.section6 .cc4{
  background-image: url(../img/ej/4.jpg);
  background-position: right;
  background-size: 50%;
}
.section6 .cc5{
  background-image: url(../img/ej/5.jpg);
  background-position: right;
  background-size: 50%;
}
.section6 .cc6{
  background-image: url(../img/ej/6.jpg);
  background-position: left;
  background-size: 50%;
}
.section6 .cc7{
  background-image: url(../img/ej/5.jpg);
  background-position: right;
  background-size: 50%;
}
.section6 .cc8{
  background-image: url(../img/ej/6.jpg);
  background-position: left;
  background-size: 50%;
}
.section6 .cc9{
  background-image: url(../img/ej/7.jpg);
  background-position: right;
  background-size: 50%;
}
.section6 .cc10{
  background-image: url(../img/ej/8.jpg);
  grid-column-start: 1;
  grid-column-end: 3;
  background-position: center;
  background-size: 100%;
}
.section6 > div h2{
  margin: 40px;
}
.section7{
  display: flex;
  height: 600px;
}
.section7 img{
  width: 50%;
}

/*----------------------------------------------------------FOOTER----------------------------------------------------------------------*/
footer{
  background: #0b0d0c;
  display: flex;
  flex-direction: column;
  padding: 20px 0 0 0;
  align-items: center;
}
footer *{
  color: white;
  padding: 0;
  margin: 0;

}

footer .f-section1{
  text-align: center;
  margin: 0 0 10px 0;
}
footer .f-section1 h1{
  text-align: center;
}

footer .f-section2 {
  display: flex;
  justify-content: space-between;
  padding: 30px 15% 30px 15%;
}
footer .f-section2 .f-div{
  width: 26%;
}
footer .f-section2 .f-div h2{
  text-align: center;
  margin: 0 0 10px 0;
}
footer .f-section2 .f-div p{
  text-align: justify;
}
footer .f-section2 .f-div .f-div-div{
  display: flex;
  flex-direction: column;
  justify-content: center;
}
footer .f-section2 .f-div .f-div-div div{
  display: flex;
  justify-content: space-around;
  padding: 5%;
}
footer .f-section2 .f-div .f-div-div div img{
  height: 70px;
  width: 70px;
  border-radius: 50%;
  background-color: #ffffff;
}
footer > p{
  text-align: center;
  font-size: 13px;
}
