<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Home</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">
    <link href='https://unpkg.com/boxicons@2.1.2/css/boxicons.min.css' rel='stylesheet'>
    <link href="https://cdn.jsdelivr.net/npm/swiffy-slider@1.5.3/dist/css/swiffy-slider.min.css" rel="stylesheet" crossorigin="anonymous">
    <link rel="stylesheet" href="https://unpkg.com/aos@next/dist/aos.css" />
    <link href="../static/CSS/ihover.css" rel="stylesheet">
    <link rel="stylesheet" href="../static/CSS/styles.css">
</head>
<body class = "no-fixed">
  <header id="header">
    <img src="../static/img/logo.png" alt="logo" class = "logo">
    <nav class="links" style="--items: 4;">
        <a href="/">Inicio</a>
        <a href="/problematica" class = "actual">Problemática</a>
        <a href="/ayudar">¿Como ayudar?</a>
        <a href="/blog">Blog</a>
      <span class="line"></span>
    </nav>
  </header>
    <main>
          <section class = "section1">
            <h1>Problemática</h1>
          </section>
          <section class = "lineas">
            <hr class="lineav">
            <hr class="lineah lineah1">
            <hr class="lineahmitad">
            <hr class="lineah lineah2">
            <hr class="lineah lineah3">
            <hr class="lineah lineah4">
          </section>
          <section class = "section6">
            <div class = "cc1">
                <h2>Fauna</h2>
                <p>Uno de los efectos más evidentes del cambio climático en la fauna son las alteraciones en el ciclo de vida. Eventos importantes en la vida de los animales como la reproducción, la puesta, la migración y el letargo, están modificando su calendario a causa del aumento de las temperaturas.</p>
              <p>Otros factores que que se generan son la captura indiscriminada de especies silvestres (Destinadas al comercio ilegal). Procesos inadecuados de minería, deforestación, quemas y contaminación. Falta de cultura ambiental para la protección de los recursos faunísticos.</p>
              <p>La fauna salvaje es un tesoro que debemos conservar, y es nuestra responsabilidad cuidar de ella.</p>
            </div>
            <div class = "cc2">
                <h2>Flora</h2>
                <p>El calentamiento global altera el crecimiento y provoca cambios en la productividad de muchas especies de flora. Los cambios en los diferentes parámetros climáticos y el aumento de la concentración atmosférica de CO2, influyen en la fotosíntesis y tiene efectos sobre el crecimiento y desarrollo de toda la vegetación.</p>
            </div>
            <div class = "cc3">
                <h2>Ciudades</h2>
                <p>Las zonas urbanas están expuestas a las consecuencias del cambio climático por el estrés causado por el intenso calor, las precipitaciones extremas, inundaciones, deslizamientos de tierras, la contaminación atmosférica y la escasez de agua.</p>
              <p>También en las ciudades el clima afecta directamente el estado de salud de las personas, así, cuando la temperatura del aire es baja, las personas disminuyen su temperatura y pueden contraer enfermedades virales, como el resfrío. Del mismo modo, temperaturas excesivamente altas pueden perjudicar a personas mayores y niños pequeños.</p>
            </div>
            <div class = "cc4">
                <h2>Plásticos</h2>
                <p>La producción e incineración de plásticos contribuye en gran medida al cambio climático. Los residuos plásticos también ahogan nuestras vías fluviales, contaminan nuestros océanos, matan la vida silvestre y se infiltran en nuestra cadena alimentaria.</p>
                <p>Cuando los plásticos más comunes se ven expuestos a la radiación solar emiten al descomponerse dos potentes gases de efecto invernadero: metano y etileno. Con este hallazgo los plásticos pasan a convertirse en una fuente no registrada de contaminantes que atrapan el calor.</p>
            </div>
            <div class = "cc5">
                <h2>Combustibles</h2>
                <p>La quema de combustibles fósiles provoca emisiones de dióxido de carbono que contribuyen al calentamiento global. Desde una perspectiva de salud pública, la contaminación atmosférica que produce es, además, la causante de siete millones de muertes al año, según cifras de la Organización Mundial de la Salud (OMS).</p>
            </div>
            <div class = "cc6">
                <h2>Clima</h2>
                <p>Las consecuencias del clima sobre el planeta son directas, provocando el calentamiento de los océanos, el aumento del nivel del mar, la descongelación de los polos, la pérdida de biodiversidad y fenómenos meteorológicos extremos, tales como olas de calor prolongadas, incendios, desertificación de terrenos, sequías, terremotos, inundaciones y tsunamis.</p>
            </div>
            <div class = "cc7">
                <h2>Catástrofes naturales</h2>
                <p>El aumento de la temperatura del aire y del agua provoca un aumento del nivel del mar, potentes tormentas, fuertes vientos, sequías e incendios más intensos y prolongados, e intensas precipitaciones que dan lugar a inundaciones.</p>
              <p>Las catástrofes naturales provacan el daño de las estructuras por las corrientes de agua, inundación, derrumbe y el impacto de escombros flotantes. Deslizamientos de tierra a causa de suelo saturado. Pérdida de vidas humanas, posibles brotes de malaria, diarrea, infecciones virales y leptospirosis, entre otras causas.</p>
            </div>
            <div class = "cc8">
                <h2>Los polos</h2>
                <p>El calentamiento global está acelerando de forma dramática el derretimiento del hielo y la nieve del Ártico y la Antártida, algo que afecta no solo a la vida humana, animal y vegetal, sino también a la circulación atmosférica y oceánica y al nivel del mar.</p>
              <p>las consecuencias del derretimiento de los polos son: la subida del nivel del mar, la desaparición de ciudades y costas, flujos migratorios y desestabilización económica, alteración grave del equilibrio de los ecosistemas, afloramiento de enfermedades, cambios en las corrientes marinas y el clima.</p>
            </div>
            <div class = "cc9">
              <h2>Océanos</h2>
              <p>En primer lugar, el agua caliente no puede contener tanto oxígeno como el agua fría; por eso, a medida que los océanos se calientan, los niveles de oxígeno disminuyen. En segundo lugar, el agua caliente tiene menor densidad, lo que dificulta que el agua cercana a la superficie, rica en oxígeno, descienda y circule.</p>
              <p>También aumenta la variabilidad del ciclo del agua, lo que dificulta la previsión de la disponibilidad de recursos hídricos, disminuye la calidad del agua, exacerba aún más su escasez y constituye una amenaza al desarrollo sostenible en todo el mundo.</p>
          </div>
          <div class = "cc10">
            <h2>Ecosistemas</h2>
            <p>El cambio climático tiene repercusiones en la biodiversidad y los ecosistemas y a menudo exacerba otras presiones, como la contaminación, la sobreexplotación, las especies invasoras, y la fragmentación, degradación y pérdida de hábitats.</p>
            <p>Los ecosistemas que más afecta son: los bosques nublados, bosques tropicales y hábitats de zonas bajas como arrecifes coralinos y manglares, y los humedales.</p>
        </div>
          </section>
    </main>
    <footer>
      <section class = "f-section1">
        <h1 data-aos="fade-down" data-aos-offset="0">Acerca de...</h1>
      </section>
      <hr style="width: 40%; background-color: white; opacity: 100%; height: 1px;" data-aos="zoom-in" data-aos-offset="0">
      <section class = "f-section2">
        <div class = "f-div" data-aos="zoom-in" data-aos-offset="0">
          <h2>Los ODS</h2>
          <p>Si bien esta página habla únicamente de la ODS del cambio climatico, hay que mencionar que hay otras 16 ODS además de la trabajada, es decir que hay muchos mas conceptos en los que se puede ayudar.</p>
        </div>
        <hr style="width: 1px; background-color: white; opacity: 100%; height: 150px; position: relative; top: 40px;" data-aos="zoom-in" data-aos-offset="0">
        <div class = "f-div" data-aos="zoom-in" data-aos-offset="0">
          <h2>Agenda 2030</h2>
          <p>Como mencionamos recientemente, hay mas ODS, son 17 en total. Pero estas ODS no existen porque si, la Agenda 2030 es el resultado de todos estos conceptos evolucionados, es decir un futuro en el que no haya pobreza ni desigualdades, que haya una educación inclusiva, y así infinitas problematicas que requieren una solución.</p>
        </div>
        <hr style="width: 1px; background-color: white; opacity: 100%; height: 150px; position: relative; top: 40px;" data-aos="zoom-in" data-aos-offset="0">
        <div class = "f-div" data-aos="zoom-in" data-aos-offset="0">
          <h2>Redes Sociales</h2>
          <div class = "f-div-div" >
            <div>
              <img src="../static/img/rayas.png" alt="" data-aos="fade-right" data-aos-offset="0">
              <img src="../static/img/rayas.png" alt="" data-aos="fade-down" data-aos-offset="0">
            </div>
            <div>
              <img src="../static/img/rayas.png" alt="" data-aos="fade-right" data-aos-offset="0">
              <img src="../static/img/rayas.png" alt="" data-aos="fade-up" data-aos-offset="0">
            </div>
          </div>
        </div>
      </section>
      <p>"La tierra es el mejor ejemplo de generosidad"</p>
    </footer>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.bundle.min.js" integrity="sha384-MrcW6ZMFYlzcLA8Nl+NtUVF0sA7MsXsP1UyJoMp4YLEuNSfAP+JcXn/tWtIaxVXM" crossorigin="anonymous"></script>
    <script src="https://unpkg.com/aos@next/dist/aos.js"></script>
    <script>AOS.init();</script>
    <script src="https://cdn.jsdelivr.net/npm/swiffy-slider@1.5.3/dist/js/swiffy-slider.min.js" crossorigin="anonymous" defer></script>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.0/jquery.min.js"></script>
    <script src = "../static/JS/rellax.min.js"></script>
    <script src = "../static/JS/index.js"></script>
    <script src = "../static/JS/main.js"></script>
</body>
</html>
